<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="./img/logo.png" class="logo" alt="">
                Oconee County Fire Rescue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certifs.html">Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="assigncertifs.html">Assign Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="report.html">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content navigation layout from https://startbootstrap.com/snippets/full-image-background/ -->
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="memberApp">
                            <h1 class="font-weight-light">Members</h1>
                            <p class="lead">
                                <center>
                                    <table id="taskTable" class="table table-sm table-hover table-responsive">
                                        <thead class="card-body">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">First Name</th>
                                                <th class="text-center">Last Name</th>
                                            </tr>
                                        </thead>

                                        <tbody class="card-body">
                                            <tr v-for="m in members">
                                                <td>{{m.personID}}</td>
                                                <td>{{m.firstName}}</td>
                                                <td>{{m.lastName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </center>
                                <br><br>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="certifsApp">
                            <h1 class="font-weight-light">Certifications</h1>
                            <p class="lead">
                                <center>
                                    <table id="taskTable" class="table table-sm table-hover table-responsive">
                                        <thead class="card-body">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">First Name</th>
                                                <th class="text-center">Last Name</th>
                                            </tr>
                                        </thead>

                                        <tbody class="card-body">
                                            <tr v-for="c in certifs">
                                                <td>{{c.certID}}</td>
                                                <td>{{c.certName}}</td>
                                                <td>{{c.certAgency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </center>
                                <br><br>
                        </div>
                    </div>

                    <div class="col-md-4 queueView">
                        <h5 class="sideview">Member Certifications</h5>
                        <!-- <div class="patient patientWaiting" :class="patient.priority + 'Priority'"
                            v-for="patient in patients">
                            {{ formatVisitDateLocal(patient.visitDateUtc) }}<br>
                            <small>{{ visitDateSince(patient.visitDateUtc) }}</small><br>
                            <span class="patientName">{{ patient.lastName }}</span>,
                            <span class="patientName">{{ patient.firstName }}</span><br>
                            {{ patient.sexAtBirth }} {{ patient.dob }}
                        </div> -->
                    </div>

                </div>

                <div class="row" id="assigningApp">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Assign Certification to Member:</h5>
                                <form @submit.prevent="handleSubmit">
                                    <p class="card-text">

                                        <div class="form-group">
                                            <label for="personID" class="control-label">Member
                                                ID:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="personID" id="personID"
                                                    v-model="personCert.personID">
                                                    <option v-for="m in members" :value="m.personID">
                                                        {{ m.personID }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="certID" class="control-label">Certificate
                                                ID:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="certID" id="certID"
                                                    v-model="personCert.certID">
                                                    <option v-for="c in certifs" :value="c.certID">
                                                        {{ c.certID }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="certDate" class="control-label">Select Certificate Start
                                                Date:</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="certDate" id="certDate"
                                                    v-model="personCert.certDate">

                                            </div>
                                        </div>
                                        <br>
                                        <center><button type="submit" class="btn btn-success">Assign
                                                Certification</button>
                                        </center>

                                    </p>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>






                <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                <script src="js/member.app.js"></script>
                <script src="js/certifs.app.js"></script>
                <script src="js/assigning.app.js"></script>



</body>

</html>