<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Certifications</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./img/logo.png" class="logo" alt="">
        Oconee County Fire Rescue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">Members</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="certifs.html">Certifications <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assigncertifs.html">Assign Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="report.html">Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content navigation layout from https://startbootstrap.com/snippets/full-image-background/ -->

  <div id="certifsApp">
    <div class="container">
      <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
          <h1 class="font-weight-light">Certifications</h1>
          <center>
            <table id="taskTable" class="table table-hover">
              <thead class="card-body">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Certification Name</th>
                  <th scope="col">Certification Agency</th>
                  <th scope="col">Default Expiration Period</th>
                  <!-- <th scope="col">Page Count</th>
              <th scope="col">MSRP</th> -->
                </tr>
              </thead>
              <tbody class="card-body">
                <tr>
                <tr v-for="c in certifs" @click="handleRowClick(c)">
                  <td>{{c.certID}}</td>
                  <td>{{c.certName}}</td>
                  <td>{{c.certAgency}}</td>
                  <td>{{c.expPeriod}}</td>
                </tr>
              </tbody>
            </table>
          </center>

          <div class="row" id="assigningApp">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h1 class="font-weight-light">Create Certification</h1>
                  <!-- Form and table are created using bootstrap -->
                  <form @submit.prevent="handleSubmit">

                    <!--  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Renew</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Create New</label>
                    </div>
                    <br>
                    <br>o7
                  -->
                    <div class="form-group">
                      <label for="certName" class="control-label col-sm-10">Certification Name:</label>
                      <div class="col-sm-10">
                        <input required type="text" class="form-control" name="certName" id="inputCertName"
                          placeholder="Certification Name" v-model="newcertifs.certName"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="certAgency" class="control-label col-sm-10">Certification Agency</label>
                      <div class="col-sm-10">
                        <input required type="text" class="form-control" name="certAgency" id="inputCertAgency"
                          placeholder="Certification Agency" v-model="newcertifs.certAgency"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="certification" class="control-label col-sm-10">Default Experation Period in
                        Years</label>
                      <div class="col-sm-10">
                        <input required type="integer" class="form-control" name="expPeriod" id="inputExpPeriod"
                          placeholder="Defualt Experation Period in Years" v-model="newcertifs.expPeriod"><br>

                      </div>
                    </div>

                    <center><button type="submit" class="btn btn-success">Create Certification</button></center>

                  </form>

                </div>
              </div>
            </div>


            <!--EDIT CERTIFICATION------------------------------------------------------------------>
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                  <h1 class="font-weight-light">Edit Certification</h1>
                  <form @submit.prevent="handleEdit">
                    <p class="card-text">
                      <div class="form-group">
                        <label for="certID" class="control-label">Certification ID:</label>
                        <div class="col-sm-10">
                          <input required type="text" class="form-control" 
                            name="certID" id="editcertID" v-model="editcertifs.certID">
                          <br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="lastName" class="control-label">Certification Name:</label>
                        <div class="col-sm-10">
                          <input required type="text" class="form-control" v-model="editcertifs.certName"
                            name="editCertName" id="editCertName"><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="certAgency" class="control-label">Certification Agency:</label>
                        <div class="col-sm-10">
                          <input required type="text" class="form-control" name="editcertAgency" id="editcertAgency"
                            v-model="editcertifs.certAgency" >
                          <br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="EXP" class="control-label">Default Experation Period:</label>
                        <div class="col-sm-10">
                          <input required type="number" class="form-control" name="EXP" id="editEXP"
                            v-model="editcertifs.expPeriod"><br>
                        </div>
                      </div>
                      <br>
                      <center><button type="submit" class="btn btn-success">Edit Certification</button>
                      </center>
                    </p>
                  </form>
                </div>
              </div>
            </div>


            <!-- Delete Certification-->
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">

                  <h1> Delete Certification</h1>
                  <form @submit.prevent="handleDelete">
                    <div class="form-group">
                      <label for="certName" class="control-label col-sm-10">Certification ID:</label>

                      <select placeholder="Certification ID Number" class="form-control" name="certID"
                        id="selectCertID" v-model="deletecertifs.certID">
                        <option value="" selected="selected">Select a Certification to Delete</option>
                        <option v-for="c in certifs" v-for="c in certifs" v-if="filter.pc=='' || filter.pc == c.certID"
                          :value="c.certID">{{ c.certID }} - {{c.certName}} - {{c.certAgency}}</option>

                      </select>
                    </div>

                    <center><button type="submit" class="btn btn-success">Delete Certification</button></center>

                  </form>
                </div>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/certifs.app.js"></script>
 
 </body>
<footer>
  OCFR | Phone: (706) 769-3975 | 1291 Greensboro Hwy, Watkinsville, GA 30677
</footer>

</html>