<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
        <div class="container">
          <a class="navbar-brand" href="#">Oconee County Fire Rescue</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="members.html">Members</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="certifs.html">Certifications</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="report.html">Reports</a>
                    </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Page Content navigation layout from https://startbootstrap.com/snippets/full-image-background/ -->
      <!-- <div class="container">
        <div class="card border-0 shadow my-5">
          <div class="card-body p-5">
            <h1 class="font-weight-light">Certifications</h1>
            <p class="lead">Insert text here.</p> -->

            <div id="reportApp">
              <div class="container">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                    <div class="form-group">
                      <label for="personID" class="control-label">Select Certification:</label>
                      <div class="col-sm-10">

                        <select class="form-control" name="personID" id="delpersonID"
                          v-model="deletemembers.personID">
                          <option v-for="m in members" :value="m.personID">{{ m.personID }}</option>
                        </select>
                        <!--
                        <input type="number" class="form-control" name="personID" id="delpersonID" placeholder="Member ID"  min="1" v-model="deletemembers.personID">
                        --><br>
                      </div>
                    </div>
                    <center>
                      <table id="taskTable" class="table">
                        <thead class="card-body">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Member ID</th>
                            <th scope="col">Member Radio Number</th>
                            <th scope="col">Member Station</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Certification ID</th>
                            <th scope="col">Certification Name</th>
                            <th scope="col">Certification Agency</th>
                            <th scope="col">Default Expiration Period</th>
                            <th scope="col">Cert Expiration Date</th>

                            <!-- <th scope="col">Page Count</th>
                        <th scope="col">MSRP</th> -->
                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                          <tr v-for="c in certifs">
                            <td>{{c.Member ID}}</td>
                            <td>{{c.radioNumber}}</td>
                            <td>{{c.station}}</td>
                            <td>{{c.firstName}}</td>
                            <td>{{c.lastName}}</td>
                            <td>{{c.certID}}</td>
                            <td>{{c.certName}}</td>
                            <td>{{c.certAgency}}</td>
                            <td>{{c.expPeriod}}</td>
                            <td>{{c.certDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </center>




<div style="height: 700px"></div>
    </div>



          </div>
        </div>
      </div>



      <script src="js/tablesort.min.js"></script>
      <script>

      // tablesort plugin from https://github.com/tristen/tablesort
        new Tablesort(document.getElementById('taskTable'));
      </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/report.app.js"></script>

      </body>
      </html>
