<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reports</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="./img/logo.png" class="logo" alt="">
                Oconee County Fire Rescue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certifs.html">Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="assigncertifs.html">Assign Certifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="report.html">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <!-- Page Content navigation layout from https://startbootstrap.com/snippets/full-image-background/ -->
      <!-- <div class="container">
        <div class="card border-0 shadow my-5">
          <div class="card-body p-5">
            <h1 class="font-weight-light">Certifications</h1>
            <p class="lead">Insert text here.</p> -->

            <div id="reportApp">
              <div class="container">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                    <div class="form-group">
                      <label for="personID" class="control-label">Select Certification:</label>
                      <div class="col-sm-6">

                        <select class="form-control" name="certID" id="selectCertID"
                          v-model="certs.certID">
                          <option value="" selected>All Certifications</option>
                          <option v-for="c in certs" :value="c.certID">{{ c.certID }} : {{c.certName}} : {{c.certAgency}}</option>

                        </select>
                        <!--
                        <input type="number" class="form-control" name="personID" id="delpersonID" placeholder="Member ID"  min="1" v-model="deletemembers.personID">
                        --><br>
                      </div>
                    </div>
                   <center>
                      <table id="taskTable" class="table">
                        <thead class="card-body">
                          <tr>
                            <th scope="col">Member ID</th>
                            <th scope="col">Member Radio Number</th>
                            <th scope="col">Member Station</th>
                            <th scope="col">Member Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Certification ID</th>
                            <th scope="col">Certification Name</th>
                            <th scope="col">Certification Agency</th>
                            <th scope="col">Default Expiration Period</th>
                            <th scope="col">Cert Expiration Date</th>


                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                          <tr v-for="m in membercert">
                            <td>{{m.personID}}</td>
                            <td>{{m.radioNumber}}</td>
                            <td>{{m.stationNumber}}</td>
                            <td>{{m.firstName}} {{m.lastName}}</td>
                            <td>{{m.email}}</td>
                            <td>{{m.certID}}</td>
                            <td>{{m.certName}}</td>
                            <td>{{m.certAgency}}</td>
                            <td>{{m.expPeriod}}</td>
                            <td>{{m.certDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <button onclick="export_table_to_csv(taskTable,'ExpiredMembers.csv')">Export Table To CSV File</button>
                    </center>




<div style="height: 700px"></div>
    </div>



          </div>
        </div>
      </div>



     <script src="js/tablesort.min.js"></script>
      <script>

      // tablesort plugin from https://github.com/tristen/tablesort
        new Tablesort(document.getElementById('taskTable'));
      </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/report.app.js"></script>
  <script src="js/exportTable.app.js">
//Credit to CodexWorld - https://www.codexworld.com/export-html-table-data-to-csv-using-javascript/
  </script>

      </body>
      </html>
